{% extends "layout.html" %}
{% block body %}

<style>
    .btn {
        margin-left: 15vw;
        box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-box-shadow: 0px 0px 0 0 #31708f inset , 0px 0px 0 0 #31708f inset;

    }

    .btn:hover{
        /* background-color: purple; */
        -webkit-box-shadow: 70px 0px 0 0 purple inset , -70px 0px 0 0 plum inset;

    }
</style>


<!-- Page Header-->
<header class="masthead" style="background-image: url( {{ url_for('static', filename= 'assets/img/all-post.jpg' ) }} )">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>All Posts Here</h1>
                    <span class="subheading">{{params['blog_name']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="d-flex justify-content-between mb-4">
    <!-- <a class="btn btn-primary text-uppercase" href="#!">⇦ Older Posts</a> -->
    <a class="btn btn-primary text-uppercase" href="/edit/0">Add Posts </a>


    <!-- <a class="btn btn-primary text-uppercase" href="/edit/0" data-toggle="tooltip" data-placement="top" title="Now you can add posts here">Add Posts</a> -->

</div>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {%for post in posts%}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.subheading}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{post.written_by}}</a>
                    on {{post.date}}
                </p>
            </div>
            {{post.overview[0:123]}}....

            {%endfor%}


            <!-- Divider-->
            <hr class="my-4" />


            <!-- Pager-->
            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                    Posts →</a></div> -->
        </div>
    </div>



    <!-- <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script> -->

    {% endblock %}