{% extends "layout.html" %}
{% block body %}

<style>
    h1 {
        text-align: center;
    }

    .heading {
        margin-bottom: 5vh;
        border-bottom: 3px solid black;
        text-align: center;

    }

    button {
        background-color: rgba(21, 20, 20, 0.797);
        color: white;
        border: none;
        padding: 1px 11px;
        /* box-shadow: 7px 3px 7px 2px rgba(40, 41, 42, 0.39);  */
    }

    button:hover {
        color: rgb(93, 187, 218);
        background-color: black;
        box-shadow: 7px 3px 7px 2px rgba(40, 41, 42, 0.39);
    }

    .btn {
        margin-bottom: 7vh;

    }
</style>

<!-- Page Header-->
<header class="masthead" style="background-image: url( {{ url_for('static', filename= 'assets/img/about.jpg' ) }} )">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage yor posts from here and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="heading">
                    <H1>Add/Edit Post..!!</H1>
                </div>
                <div class="my-5">
                    <!-- SB Forms Contact Form -->
                    <form id="contactForm" action="/edit/{{sno}}" method="post">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Enter your Title..."
                                required />
                            <label for="name">Title</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="subheading" name="subheading" type="text"
                                placeholder="Enter your subheading..." required />
                            <label for="email">Subheading</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="written_by" name="written_by" type="text"
                                placeholder="Enter Written-by..." required />
                            <label for="email">Written By</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" name="slug" type="text" placeholder="Enter your slug..."
                                required />
                            <label for="email">Slug</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="overview" name="overview" placeholder="Enter Overview..."
                                style="height: 12rem" required></textarea>
                            <label for="email">Overview</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="heading_1" name="heading_1" type="text"
                                placeholder="Enter your First heading..." required />
                            <label for="email">First Heading</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content_1" name="content_1"
                                placeholder="Enter your First Comment here..." style="height: 12rem" required></textarea>
                            <label for="phone">First Content</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="heading_2" name="heading_2" type="text"
                                placeholder="Enter your Second heading..." required />
                            <label for="email">Second Heading</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content_2" name="content_2"
                                placeholder="Enter your Second Comment here..." style="height: 12rem" required></textarea>
                            <label for="phone">Second Content</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content_3" name="content_3"
                                placeholder="Enter your Third Comment here..." style="height: 12rem" required></textarea>
                            <label for="phone">Third Content</label>
                        </div>
        
                        <br />
                        <!-- Submit Button -->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="button">Submit</button>
        
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}