{% extends "layout.html" %}
{% block body %}



<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/post-bg.jpg  ')}} ')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.title}}</h1>
                    <h2 class="subheading">{{post.subheading}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{post.written_by}}</a>
                        {{post.date}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h2 class="section-heading">Overview</h2>
                {{post.overview}}

                <h2 class="section-heading">{{post.heading_1}}</h2>

                {{post.content_1}}

                <h2 class="section-heading">{{post.heading_2}}</h2>

                {{post.content_2}}

                <p></p>

                <!-- <a href="">{{post.img}}</a> -->

                <a href="/"><img class="img-fluid"
                        src="{{ url_for('static', filename='assets/img/post-sample-image.jpg') }}" alt="..." /></a>

                <p></p>
                {{post.content_3}}
                <!-- <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>
{% endblock %}